<section class="user-s1 container-fluid d-flex align-items-center py-5 bg-dark minh-100vh">
    <div class="row mx-0 w-100 pt-5">
        <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xxl-3 mx-auto">
        <div class="card bg-dark shadow opacity-9">
            <div class="card-header">
                <h6 class="text-white text-uppercase my-1">
                    Login
                </h6>
            </div>
            <div class="card-body">
                <form class="text-start px-3">
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Login</label>
                        <input class="form-control rounded-pill" 
                            type="text" 
                            name="flogin" 
                            placeholder="User login"
                            maxlength="80"/>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-white mb-2 ms-1">Password</label>
                        <input class="form-control rounded-pill" 
                            type="text" 
                            name="fpassword" 
                            placeholder="Enter password"
                            maxlength="80"/>
                    </div>
                    <div class="w-100 small border-bottom text-white">
                        <p>
                            Not registered? Register
                            <a routerLink="/register" class="fw-bold text-decoration-none text-secondary">Now</a>
                        </p>
                    </div>
                    <div class="w-100 text-end py-3">
                        <input type="reset" class="btn btn-outline-light rounded-pill me-1" value="Clear"/>
                        <input type="submit" class="btn btn-outline-light rounded-pill" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</section>